<section>
    <h1 class="text-center text-main my-2">Forget Password</h1>
   @if(step == 1){
    <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
        <button [disabled]="!verifyEmail.valid" class="btn-main">Verify Email</button>
    </form>
   }
    @else if (step == 2) {
        <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-4" (ngSubmit)="verifyCodeSubmit()">
            <div class="my-2">
                <label for="resetCode">resetCode</label>
                <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
            </div>
            <button [disabled]="!verifyCode.valid" class="btn-main">Verify Code</button>
        </form>
    }
    @else if (step == 3) {
        <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-4" (ngSubmit)="resetPasswordSubmit()">
            <div class="my-2">
                <label for="email">Email</label>
                <input readonly formControlName="email" type="email" id="email" class="form-control">
            </div>
            <div class="my-2">
                <label for="email">Password</label>
                <input formControlName="newPassword" type="password" id="email" class="form-control">
            </div>
            <button [disabled]="!resetPassword.valid" class="btn-main">Verify Email</button>
        </form>
    }
</section>